.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  transition: $transition;
  pointer-events: none;
  z-index: $indexLoadingScreen;
}
